$bodyBackground: #659A01;
$contentBackground: #666701;
$h1Font: bold 34px Georgia, "Times New Roman", Times, serif;
$h1Color: darken(#ffcf0b, 5%);
$h2Font: italic 28px Georgia, "Times New Roman", Times, serif;
$h2Color: #ffcf0b;
$bodyFont: normal 15px/20px Georgia, "Times New Roman", Times, serif;
$textColor: #fff;
$borderColor: #fff;
$briefWidth: auto;
$briefHeight: auto;
$briefRightMargin: 0;
$briefBackground: #677d01;
$briefFloat: none;
$briefTextColor: #fff;
$aColor: $h1Color;
$tableWidth: 960px;
$theadBackground: #94a34e;
$theadBorderRifgt: none;
$tbodyBackground: #677d01;