$bodyBackground: #DDBC9B;
$contentBackground: #fff;
$h1Font: bold 34px Arial, Helvetica, sans-serif;
$h1Color: #8a430d;
$h2Font: italic 26px Arial, Helvetica, sans-serif;
$h2Color: #a87246;
$bodyFont: normal 12px/18px Arial, Helvetica, sans-serif;
$textColor: #343434;
$borderColor: #8a430d;
$briefWidth: 320px;
$briefHeight: 62px;
$briefRightMargin: 20px;
$briefBackground: #fadcba;
$briefFloat: left;
$briefTextColor: #000;
$aColor: #306a9c;
$tableWidth: 780px;
$theadBackground: #e0e0e0;
$theadBorderRifgt: 2px solid #fff;
$tbodyBackground: default;
